.position-form
  = simple_form_for(@position, url: "") do |f|
    = f.input :etkh_profile_id, as: :hidden, input_html: { value: current_user.etkh_profile.id }

    = f.input :position, label: "Position title"
    = f.input :organisation, label: "Organisation"

    %button{id: "btn-add-position-submit"} Add position
    %button{id: "btn-add-position-cancel"} Cancel

:javascript
  $("#btn-add-position-submit").click( function() {
    var valuesToSubmit = $("#new_position").serialize();
    $.ajax({
      url: '/positions/create_position',
      data: valuesToSubmit
    });
    return false;
  });

  $("#btn-add-position-cancel").click( function() {
    $("#new-position").html("");
    return false;
  });