#positions
  - if !positions.nil? && !positions.empty?
    - Position.custom_order(positions).each do |position|
      = render partial: 'etkh_profiles/positions/position', locals: { position: position }
  = link_to "Add a position", "/members/#{current_user.etkh_profile.id}/positions/new", remote: true, id: "add-position"