<div class="coaching-navigation">
  <div class="col-md-5">
    <h1> <%= link_to 'Social Impact Coaching', '/coaching/overview' %> </h1>
  </div>
  <div class="col-md-7, coaching-navigation">
    <h2> <%= link_to 'Application', '/coaching/application' %> </h2>
    <h2> <%= link_to 'Information', '/coaching/information' %> </h2>
    <h2> <%= link_to 'Overview', '/coaching/overview' %> </h2>
  </div>
</div>
