<div class="profile-completeness-bar">
  <div id="progressbar" class="ui-progress-bar ui-container">
    <div class="ui-progress" style="width: <%= value %>%;">
      <span class="ui-label"><b class="value"><%= value %>%</b></span>
    </div>
  </div>
</div>