= javascript_include_tag "members-page.js"
.members-page
  .span10
    .heading
      %h1 Our members
    %hr

    .search-form
      #simple-search
        = render partial: 'basic_search_form'
      #advanced-search
        = render partial: 'search_form'

    #members-list
      = render partial: 'profiles_selection', locals: { users: @selected_users }
