= javascript_include_tag "members-page.js"
.span10
  .heading
    %h1 Our members
  %hr

  #search-form
    = render partial: 'search_form'

  #members-list
    = render partial: 'profiles_selection', locals: { users: @selected_users }
