= javascript_include_tag "members-page.js"
.members-page
  .span10
    .heading
      %h1 Our members
    %hr

    #search-form
      = render partial: 'search_form', locals: { otherPage: false }
    %hr

    = content_tag "div", id: "data-search", data: { redirect_to_search: @redirect_to_search } do
      -# this line is important

    #members-list
      = render partial: 'profiles_selection', locals: { users: @selected_users }
