.overview
  .background
    .sliver
    .members-row-top
    .section.cta-section
      .container
        .row
          .col-sm-12
            %h1.text-center
              1,003+ individuals <span class="dark">are using their careers for effective impact.</span>
          .row.buttons
            .col-md-4.col-md-offset-2
              = link_to 'Learn More', '/members/landing', class: "btn btn-large secondary cta"
            .col-md-3
              = link_to 'Join', '/members/landing', class: "btn btn-large primary cta"
    .members-row-bottom
    .sliver
    .section.people-say
    .section.testimonial
      .container
        .row
          .col-sm-1
          .col-sm-4
            = image_tag("/assets/community/overview/julia-wise.png")
          .col-sm-6
            .quote
              %p
                I’m a social worker, currently a mental health clinician in a jail. Although I realize social work was not the most effective field I could have chosen, I’ve decided to stay within the field for the foreseeable future. I donate most of my earnings, with the Against Malaria Fund getting the majority right now.
              %p
                I write the blog <a href="http://www.givinggladly.com/">Giving Gladly</a> about effective giving. I notice that people think giving a lot must mean a very gloomy life, but that hasn’t been my experience at all.
            <h2> Julia Wise </br> Social Worker </h2>

