.container
  .row
    .col-sm-2
    .col-sm-8
      %h1
        1,003 individuals are using <br> their careers for strategic good.
        
    .col-sm-2
  .row
    .col-sm-1
    .col-sm-4
      = image_tag("/assets/community/overview/julia-wise.png")
    .col-sm-7
      %p
        There is almost nothing that doesn’t interest me. I enjoy helping people. I can speak Swahili, and would like to work in some development capacity in Africa. In ten years, I want to build socially-sustainable businesses abroad that can generate economic growth in developing countries.
      %p There is almost nothing that doesn’t interest me. I enjoy helping people. I can speak Swahili, and would like to work in some development capacity in Africa. In ten years, I want to build socially-sustainable businesses abroad that can generate economic growth in developing countries."
      %p There is almost nothing that doesn’t interest me. I enjoy helping people. I can speak Swahili, and would like to work in 
    .col-sm-1

