= "Hi #{@name},"
:plain

During a recent upgrade to the website there was a technical problem involving user avatars, in which some avatars were accidentally deleted. Unfortunately, it seems your avatar was one of those affected so we're emailing you to notify you that your avatar has been deleted, and to encourage you to upload another image. 
:plain

We would also like to point out that we are now able pull avatars automatically from Facebook, Google and LinkedIn, so if you sign-in via one of these methods your avatar will be taken from your account automatically. 
:plain

= "To upload a new avatar please visit 80000hours.org#{@profile_path}"
:plain

We sincerely apologise for this mishap and for any inconvenience caused by it.
:plain

Best regards,
80000hours.org