.categories
  .category.case_studies
    <a href="">Case Studies</a>
  .category.interviews
    <a href="">Interviews</a>
  .category.updates
    <a href="">80,000 Hours Updates</a>
  .category.guides
    <a href="">Guides</a>
  .category.discussion
    <a href="">Discussion</a>
  .category.research
    <a href="">Research</a>
  .category.tech
    <a href="">80,000 Hours Tech</a>
