%h3 Popular blog posts
- posts = get_popular_posts
- posts.each do |post|
  = render partial: 'shared/sidebar_item',
           locals: { date: post.created_at,
                     content: "#{link_to post.title, blog_post_path( post )}".html_safe,
                     attribution: link_to_blog_post_author( post ) }

-#= link_to "View posts ordered by popularity <i class='icon-circle-arrow-right'></i>".html_safe, "/blog?order=popularity"
