.subscribe
  %h3 Subscribe
  .subscribe-option
    .subscribe-text
      %a{:href => '/blog/feed.atom'} Subscribe via RSS
  .subscribe-option
    = render partial: "./shared/mailing_list", locals: { text: "" }
