.subscribe
  %h3 Subscribe
  .subscribe-option
    .social-btn-rss
      %a{:href => '/blog/feed.atom'}
    .subscribe-text
      %a{:href => '/blog/feed.atom'} Subscribe via RSS
    .clearfix
  .subscribe-option
    = render partial: "./shared/mailing_list", locals: { text: "Get updates on the best of the blog" }
