- if type == "signup"
  - linkedin_link = "/authentications/linkedin_signup"
- elsif type == "signin"
  - linkedin_link = "/authentications/linkedin_signin"
.center
  .options
    #linkedin
      = link_to (image_tag 'auth/linkedin_64.png', alt: "Sign-up with LinkedIn"), linkedin_link, id: 'linkedin-connect'
      = link_to "Connect to LinkedIn", linkedin_link, class: 'btn btn-large btn-info btn-new'

    #facebook
      = link_to (image_tag 'auth/facebook_64.png', alt: "Connect to Facebook"), '/auth/facebook', id: 'fb-connect'
    
    #google
      = link_to (image_tag 'auth/google_oauth2_64.png', alt: "Connect to Google"), '/auth/google_oauth2', id: 'google-connect'
    