.sidebar-item
  - if defined? content
    .content= content
  .attribution
    - if defined? attribution
      = attribution
  -# Commented out dates to remove clutter    
  -# - if defined? date
  -#    on
  -#    %span.date= format_date(date)
