.request_application
  .well
    :markdown
      Please use the form below to apply for in-depth coaching from 80,000 Hours.  If you’d like to find out more about what we look for, see our [application information](/coaching/information). If you’d like to find out more about how the process works, see our [coaching information pages.](/coaching/overview) Note that demand for our coaching far exceeds capacity, so we can only talk to less than 10% of applicants.  Please also note that we only assess applications at the end of every month.

  #wufoo-z1fm39560tmawko
    Fill out our <a href="https://80000hoursorg.wufoo.com/forms/z1fm39560tmawko">online application</a>.

  :javascript
    var z1fm39560tmawko;(function(d, t) {
    var s = d.createElement(t), options = {
      'userName':'80000hoursorg', 
      'formHash':'z1fm39560tmawko', 
      'autoResize':true,
      'height':'2445',
      'async':true,
      'header':'show', 
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { z1fm39560tmawko = new WufooForm();z1fm39560tmawko.initialize(options);z1fm39560tmawko.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');

  .well.disclaimer
    %p We  can give you information about your career options that we hope is useful; but how you choose to use this information is up to you. We don’t take responsibility for the outcomes of your choices. Moreover, while the aim of our service is to provide you with information about how to help the world, we don’t support courses of action that may be harmful to your physical or mental well being. Our coaches are not professionally qualified career advisors. We recommend you use our advice alongside someone professionally qualified. Please note that though we take reasonable precautions to keep the information private, we do not take responsibility for damages caused by data that is accidentally leaked or stolen.
    %p This information will not be shared with anyone outside of the 80,000 Hours careers research and web team without your consent.
    %p See our full <a href="https://docs.google.com/document/d/1H1PJv2IqDfFHwfUyaxnN866PZyoWTy7O21lJP0VkKcY/edit#heading=h.zfjtvxjm523z">legal information for coachees.</a>
