.row.coaching-info-page
  .col-md-7
    %h2 What we're looking for
    %p 
      We are looking for incredibly hard working and dedicated individuals who will be able to make the most use of our advice.  This is particularly for people deciding between different long-term decisions, where we may be able to help recommend the better of the two after significant research.

    %h2 What we ask from you
    %ol
      %li Read our recommended material first
      %li Commit to at least 15 hours of researching your own career during our coaching week
      %li Provide extensive feedback and recommendations on how we're doing.  We're serious about becoming better and need your help for this.
    = link_to 'Apply Now', '/request-a-career-advice-session', :class => 'btn btn-large btn-primary'
      
  .col-md-1
  .col-md-4
    .sidebar-image
      = image_tag("/assets/pages/coaching/collin-coaching.png")
