.row
  - @endorsements.each do |e|
    .col-md-6
      .endorsement
        %blockquote<
          = markdown e["body"]
        .attribution
          .author
            = e["author"]
          - if !e["position"].nil?
            .position
              = e["position"]

