- content = @page.body
- community_html = "<p>Join our community of #{EtkhProfile.all.size} members who all want to use their career to make the world a better place. <a href='http://80000hours.org/join'>Become a member</a>, find out more about <a href ='http://80000hours.org/our-community'>our community</a>, or post a question on our <a href='http://80000hours.org/discussion'>discussion forum</a>.</p>"
- mailing_list_html = "render :partial => 'form'"

- content = content.gsub(/COMMUNITY/, community_html)
- content = content.gsub(/MAILING_LIST/, mailing_list_html)

:markdown
  #{content}
