.team
  .row
    .col-md-5
      .row
        .col-md-12
          %img{align: "left", alt: "Benjamin Todd", src: "http://m1.idanoe.com/BenForWeb1.jpg"}/
      .row
        .col-md-12
          %h2#benjamin_todd__cofounder_and_executive_director Benjamin Todd – Co-founder and Executive Director
          %p Ben co-founded 80,000 Hours in 2011 while studying for a Masters in Physics and Philosophy at Oxford.
          %p In under three years with Ben’s leadership, 80,000 Hours has grown from a student society, to an Oxford affiliated start-up with ten full-time staff, 900 members and features in TED, the Washington Post, the BBC Today Programme and more.
          %p Outside of 80,000 Hours he has broad interests, and has published in Climate Physics and speaks Chinese. Before 80,000 Hours, he was the first and only undergraduate to intern as an analyst at top investment fund, Orbis. Rather than taking the job, he persuaded the Chairman to donate £60,000 to his start-up non-profit!
          %a{href: "mailto:benjamin.todd@80000hours.org"} benjamin.todd@80000hours.org

    .col-md-4
      .row
        .col-md-12
          %img.image.small{align: "left", alt: "Will MacAskill", src: "http://m1.idanoe.com/WillForWeb1.jpg"}/
      .row
        .col-md-12
          %h2#will_macaskill__cofounder_and_president Will MacAskill – Co-founder and President
          %p In 2009, Will co-founded Giving What We Can, a leading charity evaluator that has advised the UK government and World Bank. In 2011, he co-founded 80,000 Hours with Ben. While a Fulbright Scholar, he writes a column in Atlantic spin-off Qz.com, gives 30% of his stipend to charity, and has published in top philosophy journal Ethics.
          %a{href: "mailto:will.macaskill@80000hours.org"} will.macaskill@80000hours.org
    .col-md-3
      .row
        .col-md-12
          %img{align: "left", alt: "Roman Duda", src: "http://m1.idanoe.com/RomanForWeb1.jpg"}/
      .row
        .col-md-12
          %h2#roman_duda__director_of_content Roman Duda - Director of Content
          %p Roman did a fully-funded Masters in Philosophy at Oxford, during which he also consulted for a top 30 FTSE company on their business strategy, whilst also studying Mandarin Chinese. With a strong interest in Quantified Self, he has worked at the start-ups Memrise and Self Spark.
          %p He leads the management of the content development team, as well as our impact evaluation.
          %a{href: "mailto:roman.duda@80000hours.org"} roman.duda@80000hours.org
  <hr>
  .row
    .col-md-3
      .row
        .col-md-12
          %img{align: "left", alt: "Tom Ash", src: "http://m1.idanoe.com/TomForWeb1.jpg"}/
      .row
        .col-md-12
          %h2#tom_ash__director_of_operations Tom Ash – Director of Operations
          %p Tom provides manages finances, legal and logistics shared 50% with Giving What We Can. After completing the BPhil in Philosophy at Oxford, he worked for 5 years as a professional web-developer at a variety of non-profits, including the New Internationalist.

    .col-md-3
      .row
        .col-md-12
          %img{align: "left", alt: "Jess Whittlestone", src: "http://m1.idanoe.com/JessForWeb1.jpg"}/
      .row
        .col-md-12
          %h2#jess_whittlestone__director_of_communications Jess Whittlestone – Director of Communications
          %p Jess works on communicating our content to the world, as well as leading and coordinating our careers advice. She has also written many of our most popular blog posts. She recently graduated from Oxford University with a First in Maths and Philosophy, and will begin a PhD in Behavioural Science at Warwick Business School in October.
          %a{href: "mailto:jess.whittlestone@80000hours.org"} jess.whittlestone@80000hours.org
    .col-md-3
      .row
        .col-md-12
          %img{align: "left", alt: "Isaac Lewis", src: "http://m1.idanoe.com/IsaacForWeb1.jpg"}/
      .row
        .col-md-12
          %h2#isaac_lewis__lead_web_developer Isaac Lewis - Lead Web Developer
          %p Isaac recently graduated with a First in Computer Science from Warwick University. He works on improving our website and ensuring things run smoothly!
          %a{href: "mailto:isaac.lewis@80000hours.org"} isaac.lewis@80000hours.org
    .col-md-3
      .row
        .col-md-12
          %img{align: "left", alt: "Jen Brennan", src: "http://m1.idanoe.com/JenForWeb1.jpg"}/
      .row
        .col-md-12
          %h2#jen_brennan__brand_manager Jen Brennan - Brand Manager
          %p Jen is currently studying for a degree in PPE at Oxford. She also runs her own website development company, which she started aged only 14! Jen works on our branding and website.
          %a{href: "mailto:jen.brennan@80000hours.org"} jen.brennan@80000hours.org

  <hr>
  %h1#community Community
  .row
    .col-md-4 
      %h2#abbie_taylor Abbie Taylor
      %em Head of the Oxford Chapter
      %p Abbie is a Medical student at Oxford University and organises the 80,000 Hours events in Oxford. Abbie is particularly interested in ways to make more difference in careers in the healthcare industry, and hopes to encourage other medical students to think more thoroughly about their impact.
    .col-md-4
      %h2#jacob_trefethen Jacob Trefethen
      %em Head of the Cambridge Chapter
      %p Jacob is studying philosophy at Cambridge University and is president of the recently founded 80,000 Hours chapter in Cambridge.
    .col-md-4
      %h2#max_siegel Max Siegel
      %em Head of the Princeton Chapter
      %p Max is a philosophy student at Princeton University and director of the Princeton chapter of 80,000 Hours. He is interested in metaethics and wants to answer questions about value and practical reason that will help us to rank the most important global causes and the most effective interventions. He plans to pursue a career as a high-impact philosopher.
  %hr/
  %h1#our_advisors Our Advisors
  .row
    .col-md-4
      %h2#niel_bowerman Niel Bowerman
      %p Niel has six years of experience in climate advocacy, during which he was on Obama’s 2008 Environment Policy Team, adviser to the President of the Maldives, founder of Climatico and named a Young Global Shaper by the World Economic Forum.
    .col-md-4
      %h2#dr_toby_ord Dr Toby Ord
      %p Toby is a Fellow of Oxford University’s Future of Humanity Institute, an expert in global prioritisation, and has been repeatedly covered in the international media for promoting cost-effective philanthropy.
    .col-md-4
      %h2#paul_christiano Paul Christiano
      %p While a PhD candidate in Computer Science at Berkeley, Paul co-founded SPARC, which introduces the US’s top young mathematicians to how they can contribute to solving real world problems.
