.box
  .survey
    %iframe{ src: "https://docs.google.com/spreadsheet/viewform?formkey=dG5PbFBRZFk4OXNSb0hGTUc2T08yNUE6MQ#gid=0", width:"800", height: "500", frameborder: "0", marginheight: "0", marginwidth: "0" }
      Loading...

  %p
    = link_to "Return to homepage", root_url 

  %hr
