<div class="hover-rubrics" style="display:none">

    <div class="hover-rubric" id="overall">
     <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>This post was one of the best posts on the website.</td>
      </tr>
      <tr>
        <td>3</td><td> This is an average post.</td>
      </tr>
      <tr>
        <td>1</td><td>This post is far below average.</td>
      </tr>
      </tbody>
    </table> 
  </div>

    <div class="hover-rubric" id="original">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>This research provides some highly important and relevant information that is new to some socially motivated job seekers. (Or moderately important information to a large proportion). </td>
      </tr>
      <tr>
        <td>3</td><td> This research provides some moderately important and relevant information that is new to some socially motivated job seekers.</td>
      </tr>
      <tr>
        <td>1</td><td>This research doesn't contains any novel, important or relevant information to socially motivated job seekers.</td>
      </tr>
      </tbody>
    </table>
    <p>Note:</p>
      <ul>
        <li>Information is meant broadly to include data, analysis and conceptual considerations.</li>
        <li>Important and relevant is meant with respect to the goal of changing people's career decisions for the better.</li>
      </ul>
  </div>

    <div class="hover-rubric" id="practical">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>This research provides some highly important and relevant information that is new to informed people in the effective altruism community.</td>
      </tr>
      <tr>
        <td>3</td><td>This research provides some moderately important and relevant information that is new to informed people in the effective altruism community.</td>
      </tr>
      <tr>
        <td>1</td><td>This research doesn't contains any novel, important or relevant information to informed people in the effective altruism community.</td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="hover-rubric" id="persuasive">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>This research used the most appropriate evidence given the time available. The conclusions drawn are likely to be accurate and contained an appropriate level of qualification. Academic research was used appropriately where available (e.g. using reviews or multiple studies, regressions are treated with appropriate skepticism).</td>
      </tr>
      <tr>
        <td>3</td><td>This research used some relevant evidence, and was based on a reasonable process, though the conclusions may contain some errors and some conclusions may have been overstated.</td>
      </tr>
      <tr>
        <td>1</td><td>This research was based on a poor choice of evidence or used an unreliable process.</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="hover-rubric" id="transparent">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td> The research and reasoning process is clearly flagged, such that it would be easy for a motivated user to check the reasoning. What is known based on the evidence, what is unknown and the author's personal opinions are clearly flagged. Promising lines of further work are flagged so that it would be easy for others to build upon.</td>
      </tr>
      <tr>
        <td>3</td><td> The research process is fairly clear, though there are several steps that would be difficult to check or build upon. </td>
      </tr>
      <tr>
        <td>1</td><td>  It's completely unclear how this research was carried out and how the conclusions were reached.</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="hover-rubric" id="accessible">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>The structure is highly clear. The writing is concise, accurate and easy to understand. The post is easy to skim. Unnecessary jargon or technical terminology is avoided, and new terms are clearly explained.</td>
      </tr>
      <tr>
        <td>3</td><td> This post has some important weak points in terms of structure and clarity, but is otherwise easy to understand.</td>
      </tr>
      <tr>
        <td>1</td><td>It's very hard to understand.</td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="hover-rubric" id="engaging">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>This post is fun or memorable and motivating to read.</td>
      </tr>
      <tr>
        <td>3</td><td>This post is somewhat engaging, though not particularly memorable.</td>
      </tr>
      <tr>
        <td>1</td><td>This post is boring.</td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="hover-rubric" id="total">
      <p> This score represents the sum of the scores for "original", "voi", "expert voi", "process","transparent", "accessible", and "engaging".
      It does not include the "overall" score.
      </p>
  </div>
</div>
