<div class="hover-rubrics" style="display:none">

    <div class="hover-rubric" id="overall">
     <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>This post was one of the best posts on the website</td>
      </tr>
      <tr>
        <td>3</td><td> This is an average post.</td>
      </tr>
      <tr>
        <td>1</td><td>This post is far below average.</td>
      </tr>
      </tbody>
    </table> 
  </div>

    <div class="hover-rubric" id="original">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>This blog post contains several highly important, relevant new pieces of information or analysis to the typical socially motivated job seeker</td>
      </tr>
      <tr>
        <td>3</td><td> This blog post contains 1-2 moderately important, somewhat relevant new pieces of information or analysis to the typical socially motivated job seeker</td>
      </tr>
      <tr>
        <td>1</td><td>This blog doesn't contains any important, relevant information or analysis to the typical socially motivated job seeker</td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="hover-rubric" id="practical">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>This blog post contains several highly important, relevant new pieces of information or analysis to a highly dedicated user of 80,000 Hours</td>
      </tr>
      <tr>
        <td>3</td><td>This blog post contains 1-2 moderately important, somewhat relevant new pieces of information or analysis to a highly dedicated user of 80,000 Hours</td>
      </tr>
      <tr>
        <td>1</td><td>This blog doesn't contain any important, relevant information or analysis to a high dedicated user of 80,000 Hours</td>
      </tr>
      </tbody>
    </table>
    <p>Note: a 'highly dedicated user' is someone who'll spend many days working on their career decision and will seek out leaders in effective altruism to interview</p>
  </div>

    <div class="hover-rubric" id="persuasive">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>This research used the most relevant evidence, and the conclusions were based on a highly rigorous process</td>
      </tr>
      <tr>
        <td>3</td><td>This research used some relevant evidence, and was based on a reasonable process, though the conclusions are likely to contain some moderate errors</td>
      </tr>
      <tr>
        <td>1</td><td>This research used irrelevant evidence and a highly unreliable process</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="hover-rubric" id="transparent">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td> The research and reasoning process is clearly flagged, such that it would be easy for a motivated user to check the reasoning</td>
      </tr>
      <tr>
        <td>3</td><td> The research process is fairly clear, though there are several steps that would be difficult to check</td>
      </tr>
      <tr>
        <td>1</td><td>It's completely unclear how this research was carried out and how the conclusions were reached</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="hover-rubric" id="accessible">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>The structure is highly clear, its well and clearly written, and its fun to read.</td>
      </tr>
      <tr>
        <td>3</td><td> The structure is good, it's fairly well written although contains some parts that are tough to understand, and it's moderately engaging.</td>
      </tr>
      <tr>
        <td>1</td><td>It's very hard to understand and boring.</td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="hover-rubric" id="engaging">
    <table  class="table">
      <tbody>
      <tr>
        <td>5</td><td>The structure is highly clear, its well and clearly written, and its fun to read.</td>
      </tr>
      <tr>
        <td>3</td><td> The structure is good, it's fairly well written although contains some parts that are tough to understand, and it's moderately engaging.</td>
      </tr>
      <tr>
        <td>1</td><td>It's very hard to understand and boring.</td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="hover-rubric" id="total">
      <p> This score represents the sum of the scores for "original", "practical", "persuasive", "transparent","accessible", and "engaging".
      It does not include the "overall" score.
      </p>
  </div>
</div>
