<tr class="categories">
  <% if empty == true %>
    <th></th>
<% end %>
  <th> <span id="overall"  data-toggle="popover" data-placement="bottom" data-title="What is your overall rating for this post?" >Overall</span> </th>
  <th> <span id="original"  data-toggle="popover" data-placement="bottom" data-title="New information to average users: How much new, important, relevant information and analysis is there for a typical socially motivated job seeker?" >Original</span> </th>
  <th> <span id="practical"  data-toggle="popover" data-placement="bottom" data-title="New information to dedicated users: How much new, important, relevant information and analysis is there for a dedicated user of 80,000 Hours?">Practical</span> </th>
  <th> <span id="persuasive"  data-toggle="popover" data-placement="bottom" data-title="Good Process: Are the conclusions drawn from a process that's likely to lead to the truth? Were the most relevant sources of evidence used?" >Persuasive</span> </th>
  <th> <span id="transparent"  data-toggle="popover" data-placement="bottom" data-title="Is it clear how the conclusions were drawn from the evidence?" >Transparent</span> </th>
  <th> <span id="accessible"  data-toggle="popover" data-placement="bottom" data-title="Is this blog post engaging and easy to understand?">Accessible</span> </th>
  <th> <span id="engaging"  data-toggle="popover" data-placement="bottom" data-title="Is this blog post engaging and easy to understand?" >Engaging</span> </th>
  <% if total == true %>
    <th> <span id="total"  data-toggle="popover" data-placement="bottom" data-title="The Total" >Total</span> </th>
<% end %>
</tr>

