<div class="well">
  <div class="row">
    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th> Raters </th>
            <th> Overall </th>
            <th> Insightful </th>
            <th> Practical </th>
            <th> Convincing </th>
            <th> Transparent </th>
            <th> Accessible </th>
            <th> Total </th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td> Reviewers </td>
          <td> 5.6 </td>
          <td> 4.5 </td>
          <td> 3.6 </td>
          <td> 2.7 </td>
          <td> 6.3 </td>
          <td> 4.7 </td>
          <td> 4.7 </td>
        <tr>
          <td> Community </td>
          <td> 5.6 </td>
          <td> 4.5 </td>
          <td> 3.6 </td>
          <td> 2.7 </td>
          <td> 6.3 </td>
          <td> 4.7 </td>
          <td> 4.7 </td>
        </tr>
        <tr>
          <td> You </td>
          <td> 5.6 </td>
          <td> 4.5 </td>
          <td> 3.6 </td>
          <td> 6.3 </td>
          <td> 6.3 </td>
          <td> 4.7 </td>
          <td> 4.7 </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

