@import "shared/partials";

.blog {
  .entry {
    margin-top: 1.5em;

    .metadata{
      color: #999;
      a{
        color: #999;
      }
    }


    h1,h2,h3,h4,h5,h6 {
    }


    h1 {
      font-size: 2em;
      line-height: 1em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    h2 {
      font-size: 112.5%;
      margin-top: 0;
      margin-bottom: 0;
    }

    h4 {
      font-family: $museo_sans_700;
    }
    .content {
      padding-top: 0em;
      padding-bottom: 0em;
    }

    .tags {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    blockquote {
      p { 
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    pre {
      code {
        font-size: 0.8em;
      }
    }

    .image {
      margin-top: 10px;
      margin-bottom: 10px;

      width: 100%;

      border: 1px solid #ccc;
      @include box_shadow(#ccc, 0px, 0px, 2px);
      @include rounded_borders(#ccc, 1px, 3px);

      &:hover {
        @include box_shadow(#ccc, 0px, 0px, 8px);
      }

      .caption {
        font-size: 0.9em;
      }
    }
  }
}
