@import "shared/partials";

.blog {

  .index{
    .header-bar{
      height:39px;
      border-radius:3px;
      background: #40bcd1;
      width:100%;
      padding: 1px 0 0 2.5%;
      margin: 10px 0 12px 10px;
      h4{
        color:white;
        margin-top:8px;
        font-weight:normal;
        font-size:20px;
      }
    }
    .entry{
      margin-top: 0em;
      margin-bottom:1.5em;
      .heading{
        margin-bottom:20px;
        h2{
          font-size:1.3em;
          color: #333;
        }
        h2 a{
          color: #333;
          font-size: 1.5em;
        }
        h4, h4 a{
          color: #999;
          font-size:1em;
        }
      }
      .content{
        color:#666;
      }
      img{
        max-width:100%;
      }
    }
  }

  .show{

    .entry {
      margin-top: 1.5em;

      .heading{
        .header-img img{
          width:100%;
        }
        .category{
          float:right;
          background: #40bcd1;
          color:white;
          margin-right:6px;
          padding:2px 11px 4px 8px;
          border-radius: 0 0 5px 5px;
        }
        h1{
          font-size: 1.8em;
          margin-top: 37px;
        }
        margin-bottom:30px;
        .metadata{
          color: #999;
          a{
            color: #999;
          }
        }
      }
      .content{
        h1,h2,h3,h4{
          color: #555;
        }
        h1{
          font-size:1.8em;
        }
        h2{
          font-size: 1.6em;
        }
        h3{
          font-size: 1.3em;
        }
      }


      .image {
        margin-top: 10px;
        margin-bottom: 10px;

        width: 100%;

        border: 1px solid #ccc;
        @include box_shadow(#ccc, 0px, 0px, 2px);
        @include rounded_borders(#ccc, 1px, 3px);

        &:hover {
          @include box_shadow(#ccc, 0px, 0px, 8px);
        }

        .caption {
          font-size: 0.9em;
        }
      }
    }
  }
}
