/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
  src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

.blog .index {
  margin-top: 10px; }
  .blog .index .entry {
    margin-top: 0em;
    margin-bottom: 2em; }
    .blog .index .entry img {
      max-height: 350px;
      display: none;
      margin: 0 auto; }
    .blog .index .entry .heading {
      margin-bottom: 20px; }
      .blog .index .entry .heading h1 {
        margin-top: 5px;
        font-size: 1.8em;
        margin: 0;
        padding: 0; }
      .blog .index .entry .heading h1 a {
        margin-top: 5px;
        color: #2fa2b8; }
      .blog .index .entry .heading h4, .blog .index .entry .heading h4 a {
        color: #999;
        font-size: 1.1em;
        font-weight: 200;
        font-family: 'Muli', sans-sefif;
        margin-top: 4px; }
    .blog .index .entry .content {
      color: #666;
      border-bottom: 1px dashed #ddd; }
    .blog .index .entry img {
      max-width: 100%; }
  .blog .index .sidebar {
    padding-right: 25px; }
.blog .show .entry {
  background: white;
  padding: 35px 30px 35px 30px;
  border-radius: 2px;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8; }
  .blog .show .entry .heading {
    margin-bottom: 30px; }
    .blog .show .entry .heading .header-img img {
      width: 100%; }
    .blog .show .entry .heading .category {
      float: right;
      background: #40bcd1;
      color: white;
      margin-right: 6px;
      padding: 4px 14px 6px 12px;
      border-radius: 0 0 5px 5px;
      font-size: 16px; }
    .blog .show .entry .heading h1 {
      margin-top: 15px;
      margin-bottom: 9px; }
    .blog .show .entry .heading .metadata {
      color: #999;
      line-height: 1.3em; }
      .blog .show .entry .heading .metadata a {
        color: #999; }
  .blog .show .entry .content h1 {
    font-size: 2em; }
  .blog .show .entry .content img {
    display: block;
    margin: 0 auto 15px auto;
    max-height: 450px;
    border-radius: 3px; }
  .blog .show .entry .image {
    max-width: 100%; }
    .blog .show .entry .image .caption {
      font-size: 0.9em; }
.blog .categories .category {
  margin-bottom: 26px; }
  .blog .categories .category a {
    padding: 10px;
    border-radius: 2px;
    background-color: #40bcd1;
    color: white; }
