/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
  src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

#comments .page-header {
  margin-bottom: 15px; }
#comments #body {
  padding-top: 7px; }
  #comments #body .comment {
    background-color: white;
    margin-bottom: 5px; }
    #comments #body .comment .core {
      padding: 5px;
      margin-top: 10px;
      margin-bottom: 5px; }
      #comments #body .comment .core .voting {
        margin-right: 7px;
        margin-left: 0px;
        position: relative;
        top: -4px; }
        #comments #body .comment .core .voting .arrow {
          height: 20px; }
        #comments #body .comment .core .voting .votes {
          position: relative;
          top: -3px;
          font-size: 0.75em; }
        #comments #body .comment .core .voting .down-arrow {
          position: relative;
          top: -11px; }
        #comments #body .comment .core .voting .notvoted {
          background: transparent; }
        #comments #body .comment .core .voting .voted {
          -moz-border-radius: 5px 5px;
          -webkit-border-radius: 5px 5px;
          -khtml-border-radius: 5px 5px;
          -o-border-radius: 5px 5px;
          border-radius: 5px 5px;
          border: 1px #dd5e8d solid; }
      #comments #body .comment .core .avatar {
        float: left;
        -moz-border-radius: 3px 3px;
        -webkit-border-radius: 3px 3px;
        -khtml-border-radius: 3px 3px;
        -o-border-radius: 3px 3px;
        border-radius: 3px 3px;
        border: 1px #cccccc solid;
        -o-box-shadow: 0px 0px 5px #cccccc;
        -webkit-box-shadow: 0px 0px 5px #cccccc;
        -moz-box-shadow: 0px 0px 5px #cccccc;
        box-shadow: 0px 0px 5px #cccccc;
        width: 48px;
        height: 48px;
        position: relative;
        overflow: hidden; }
        #comments #body .comment .core .avatar img {
          vertical-align: middle;
          position: absolute; }
      #comments #body .comment .core .content .header {
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #efefef; }
        #comments #body .comment .core .content .header .name {
          font-weight: bold; }
        #comments #body .comment .core .content .header .date {
          color: #999; }
        #comments #body .comment .core .content .header .actions {
          font-size: 0.9em;
          font-style: italic;
          float: right; }
      #comments #body .comment .core .content .body {
        padding-top: 5px;
        margin-left: 25px; }
      #comments #body .comment .core .reply .reply-link {
        margin-left: 25px; }
      #comments #body .comment .core .reply .reply-form {
        display: none;
        position: relative;
        padding-left: 20px; }
    #comments #body .comment .nested-comment {
      background-color: white;
      -moz-border-radius: 10px 10px;
      -webkit-border-radius: 10px 10px;
      -khtml-border-radius: 10px 10px;
      -o-border-radius: 10px 10px;
      border-radius: 10px 10px;
      border: 4px #ebebeb solid; }
      #comments #body .comment .nested-comment .core {
        padding-left: 10px;
        padding-right: 10px; }
    #comments #body .comment .display-comments .d1,
    #comments #body .comment .d1 .d3,
    #comments #body .comment .d1 .d3 .d5 {
      background-color: whitesmoke;
      -moz-border-radius: 10px 10px;
      -webkit-border-radius: 10px 10px;
      -khtml-border-radius: 10px 10px;
      -o-border-radius: 10px 10px;
      border-radius: 10px 10px;
      border: 4px #f0f0f0 solid; }
    #comments #body .comment .d1, #comments #body .comment .d2, #comments #body .comment .d3 {
      margin-left: 30px;
      margin-right: 2px; }
  #comments #body .d0 > .display-comments {
    font-size: 0.92em; }
  #comments #body .d0 > .core {
    padding: 10px;
    padding-top: 15px; }
  #comments #body .errors {
    display: none; }
  #comments #body .email_confirmation {
    display: none; }
