/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
  src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

.dashboard h2 {
  margin-top: 0; }
.dashboard .blog-sidebar {
  margin-top: 0.3333em; }
.dashboard .next-to-h1 {
  margin-top: 2.25em; }
.dashboard .next-to-h2 {
  margin-top: 0.25em; }
.dashboard .user-need-block {
  margin-bottom: 2em; }
  .dashboard .user-need-block h1 {
    /*border-bottom: 5px solid #333333;*/
    margin-top: 0;
    margin-bottom: 0em;
    padding-top: 0.3333em;
    padding-bottom: 0.3333em; }
.dashboard .user-activity-block {
  padding-top: 6px;
  border-top: 1px solid #eeeeee; }
  .dashboard .user-activity-block h2 {
    /* border-bottom: 3px solid #333333*/ }
.dashboard .new-here-message {
  margin-bottom: 0; }
.dashboard .dashboard_icon {
  width: 50px; }
.dashboard .completeness {
  width: 275px; }
  .dashboard .completeness hr {
    margin-top: 12px; }
