@import "shared/partials";


#positions {
  margin-left: 7px;

  .position {
    margin-bottom: 20px;
    p { margin-bottom: 0px; }

    .title { display: inline-block; }
    .actions {
      display: inline-block;
      margin-left: 20px;
    }
    .dates {
      font-size: 0.8em;
    }
  }
}
#educations {
  margin-left: 7px;

  .education {
    margin-bottom: 20px;
    p { margin-bottom: 0px; }

    .title { display: inline-block; }
    .actions {
      display: inline-block;
      margin-left: 20px;
    }
    .dates {
      font-size: 0.8em;
    }
  }
}


//******** View profile **********

.eighty-thousand-hours-profile {
  .heading {
    background-color: #FFFFFF;
    @include box_shadow(#555, 0px, 0px, 5px);
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;

    .avatar {
      @include box_shadow(#555, 0px, 0px, 6px);
      width: 200px;
      height: 200px;
      img {
        width: 200px;
        height: 200px;
        position: absolute;
        clip:rect(0px,200px,200px,0px);
      }
    }

    .span9 { margin-left: 0px; }

    .header-main {
      display: inline-block;
      width: 500px;
      .info {
        p {
          margin: 0px;
          line-height: 16px;
        }
        .name {
          margin: 0px;
          font-size: 30px;
        }
        .location {
          position: relative;
          top: -5px;
          font-weight: normal;
          font-size: 18px;
          //color: lighten($text_color,50%);
          margin: 0px;
        }

        #labels-section {
          margin-top: 5px;
          margin-bottom: 10px;

          .labels {
            display: inline-block;
            p {
              display: block;
              line-height: 22px;
              font-size: 13px;
              color: lighten($text_color,50%);
            }
          }
          .entries {
            margin-left: 30px;
            display: inline-block;
            p {
              display: block;
              line-height: 22px;
              height: 22px;
            }
          }
        }

        .email {
          margin: 0px;
        }
      }

      .buttons {
        //margin-top: 10px;
        @include scale(0.9,0.9);
        position: relative;
        left: -35px;
        > * { display: inline-block; }
      }
    }
    .external-links {
      display: inline-block;
      float: right;
      margin-top: 25px;
      margin-right: 25px;
      p {
        margin: 0px;
        //margin-left: 15px;
        color: lighten($text_color,35%);
      }
      hr { margin: 0px; margin-bottom: 5px; }
      .link {
        margin-bottom: 5px;
        display: block;
      }
    }
  }

  // common to both content and sidebar sections
  .section {
    background-color: #FFFFFF;
    @include box_shadow(#555, 0px, 0px, 5px);
  }

  .content {
    margin-bottom: 15px;
    margin-left: 2px;
    .shortened-list { margin-bottom: 0px; }
    .see-more { margin-left: 25px; }

    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .section {
      margin-top: 14px;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 15px;
      padding-bottom: 10px;

      .body {

      }
    }
  }

  .sidebar {
    margin-left: -3px;
    margin-right: 2px;
    margin-top: 14px;
    font-size: 0.9em;
    color: #555;
    .joined {
      text-align: center;
    }

    .section {
      margin-top: 14px;
      padding-left: 15px;
      padding-bottom: 15px;

      .title {
        padding-top: 10px;
        font-size: 16px;
        color: rgb(38,38,38);
      }
      > hr {
        margin-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-right: 15px;
      }
    }

    #recent-activity {
      .body h3 {
        padding-top: 10px;
        padding-bottom: 5px;
      }
      .activity-link {
        display: block;
        padding-top: 3px;
        padding-left: 7px;
      }
    }
    #other-members {
      > .body { padding-top: 15px; }
      .eighty-thousand-hours-profile-condensed-2 { margin-bottom: 5px; }
    }
  }
}


.contact-user-form {
  width: 550px;
  .header {
    background-color: rgb(235,235,235);
    h2 { 
      position: relative;
      left: 20px;
      margin-top: 0px;
      padding-top: 20px;
    }
  }
  .form-inputs {
    margin-left: 15px;
    margin-right: 15px;
    width: 500px;
    
    #message-subject {
      width: 100%;
    }
    #message-body {
      margin-top: 10px;
      width: 100%;
    }
  }
  .form-actions {
    margin-bottom: 0px;
    background-color: rgb(235,235,235);
    #submit-btn {
      margin-left: 20px;
    }
    #cancel-btn { margin-left: 30px; }
  }

  form { margin-bottom: 0px; }
}


//********** Edit profile ***********

#linkedin {
    margin-top: 40px;
  }

.form {
  img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  #declaration {
    #donation {
      margin-top: 15px;
      #user_etkh_profile_attributes_donation_percentage_slider {
        margin-top: 15px;
      }
    }
  }

  #experience {
    .new-form {
      width: 385px;
      height: 300px;

      #position_start_date_month, #position_end_date_month { width: 120px; }
      #position_start_date_year, #position_end_date_year {
        visibility: visible;
        float: right;
        width: 70px;
      }

      // Move start date year up to be inline with start date month
      .control-group:nth-child(6) { 
        visibility: hidden;
        position: relative;
        top: -50px;
      }

      // Also move up controls below start date to fill blank space
      .control-group:nth-child(7) { 
        position: relative;
        top: -50px;
      }

      // Move end date year to be inline with end date month
      .control-group:nth-child(8) { 
        visibility: hidden;
        position: relative;
        top: -100px;
      }

      .control-group:nth-child(9) { 
        position: relative;
        top: -100px;
      }

      .buttons {
        position: relative;
        top: -110px;
        margin-left: 160px;
        #btn-add-position-cancel { margin-left: 25px; }
        #btn-edit-position-cancel { margin-left: 52px; }
      }
    }


    .edit-form {
      height: 130px;

      .control-group.hidden { display: none; }
      .controls {
        margin-left: 0px;
      }
      .optional {
        width: 170px;
        margin: 0px;
      }
      .control-group {
        margin-bottom: 3px;
        .optional {
          padding-bottom: 2px;
          padding-top: 3px;
        }
      }
      .select {
        width: 80px;
        padding: 0px;
        height: 24px;
        font-size: 10px;
      }
      .numeric {
        width: 50px;
        padding: 0px;
        font-size: 12px;
      }

      // shift elements to right
      #position_start_date_year {
        position: relative;
        left: 82px;
      }
      #position_end_date_month {
        position: relative;
        left: 150px;
      }
      #position_end_date_year {
        position: relative;
        left: 230px;
      }

      // shift elements up
      .control-group:nth-child(6) {
        position: relative;
        top: -28px;
      }
      .control-group:nth-child(7) {
        position: relative;
        top: -58px;
      }
      .control-group:nth-child(8) {
        position: relative;
        top: -86px;
      }
      .buttons {
        position: relative;
        top: -80px;
      }
    }
  }
}

#education {
  .new-form {
    width: 385px;
    height: 350px;

    #education_start_date_year, #education_end_date_year {
      width: 100px;
    }

    .buttons {
      margin-left: 160px;
      #btn-add-education-cancel { margin-left: 15px; }
      #btn-edit-education-cancel { margin-left: 52px; }
    }
  }


  .edit-form {
    height: 170px;

    .control-group.hidden { display: none; }
    .controls {
      margin-left: 0px;
    }
    .optional {
      width: 170px;
      margin: 0px;
    }
    .control-group {
      margin-bottom: 3px;
      .optional {
        padding-bottom: 2px;
        padding-top: 3px;
      }
    }
    .numeric {
      width: 50px;
      padding: 0px;
      font-size: 12px;
    }

    // shift end year to right
    #education_end_date_year {
      position: relative;
      left: 85px;
    }

    // position paragraph
    #dates-to {
      position: relative;
      left: 65px;
      top: -28px;
    }

    // shift end year up
    .control-group:nth-child(8) {
      position: relative;
      top: -55px;
    }

    .buttons {
      position: relative;
      top: -45px;
    }
  }
}


.linkedin-form {
  width: 500px;
  height: 345px;

  .header {
    width: 100%;
    height: 80px;
    img {
      margin-left: 20px;
      margin-top: 20px;
    }
  }

  .content {
    position: relative;
    left: 10px;
    width: 478px;
    height: 230px;
    -webkit-border-radius: 4px;
    border: 1px solid rgb(255,255,255);
    .body {
      height: 130px;
      background-color: #FFFFFF;

      p {
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 25px;
        line-height: 28px;
        font-size: 18px;
      }
    }

    .form-actions {
      height: 100px;
      margin: 0px;
      padding: 0px;
      background-color: rgb(235,235,235);

      .btn-confirm {
        margin-top: 25px;
        margin-left: 75px;
      }
      .btn-reject {
        margin-top: 25px;
        margin-left: 50px
      }
    }
  }
}


//*******Condensed profiles*********

.eighty-thousand-hours-profile-condensed {
  height: 64px;
  padding: 0px;
  margin: 0px;

  .avatar {
    float: left;
    @include box_shadow(#555, 0px, 0px, 2px);

    height: 32px;
    width: 32px;

    margin: 3px;
    margin-right: 10px;
    position: relative;

    img {
      // in case non-square photos
      position:absolute;
      clip:rect(0px,32px,32px,0px);
    }
  }

  .text {
    padding:0px;
    margin: 0px;
    font-size: 0.9em;
    .name {
      font-weight: bold;
    }
    .location {
      color: lighten($text_color,50%);
    }
  }
}

.eighty-thousand-hours-profile-condensed-2 {
  display: block;
  height: 60px;
  margin-right: 5px;

  .avatar {
    display: inline-block;
    float: left;
    @include box_shadow(#555, 0px, 0px, 2px);
    height: 60px;
    width: 60px;
    img {
      height: 60px;
      width: 60px;
      position: absolute;
      clip:rect(0px,60px,60px,0px);
    }
  }

  .body {
    display: inline-block;
    margin-left: 10px;
    width: 200px;
    height: 55px;
    
    .name {
      margin-top: 2px;
      font-weight: bold;
    }
    .content {
      position: relative;
      top: -2px;
      margin: 0px;
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

.profile-teaser {
  @include rounded_borders(#dfdfdf, 1px, 5px);
  padding: 10px;
  margin-bottom: 7px;

  .avatar {
    width: 110px;
    height: 110px;
    @include box_shadow(#555, 0px, 0px, 5px);
    img {
      width: 110px;
      height: 110px;
      position: absolute;
      clip:rect(0px,110px,110px,0px);
    }
  }

  .heading {
    p { 
      margin: 0px;
      line-height: 18px;
    }
    hr {
      margin-top: 5px;
      margin-bottom: 5px;
      border-width: 2px;
      color: #dfdfdf;
    }

    .name {
      font-size: 1.2em;
    }
    .location { 
      font-size: 0.8em;
      //padding-bottom: 8px;
    }
    .organisation { font-size: 0.8em; }
  }

  .body {

    .labels {
      //font-size: 0.85em;
    }
    .info {
      font-size: 0.925em;
      line-height: 20px;
    }
  }
}

#profile-popup { position: absolute; }

#profile-hover {
    width: 300px;
    height: 150px;
    padding: 10px;
    background-color: #FFFFFF;
    @include rounded_borders(#A1A1A1, 3px, 5px);

    .avatar {    
      img {
        padding: 2px;
        height: 100px;
        width: 100px;
        @include box_shadow(#555, 0px, 0px, 6px);
      }
    }
    .body {
      margin-left: 5px;
      .name {
        font-size: 16px;
        font-weight: bold;
      }
      .content {
        p {
          font-size: 14px;
          line-height: 16px;
          margin: 0px;
          margin-bottom: 3px;
        }
      }
    }
  }