@import "shared/partials";


#positions {
  margin-left: 7px;

  .position {
    margin-bottom: 20px;
    p { margin-bottom: 0px; }

    .title { display: inline-block; }
    .actions {
      display: inline-block;
      margin-left: 20px;
    }
    .dates {
      font-size: 0.8em;
    }
  }
}
#educations {
  margin-left: 7px;

  .education {
    margin-bottom: 20px;
    p { margin-bottom: 0px; }

    .title { display: inline-block; }
    .actions {
      display: inline-block;
      margin-left: 20px;
    }
    .dates {
      font-size: 0.8em;
    }
  }
}


//******** View profile **********

.eighty-thousand-hours-profile {
  .heading {
    background-color: #FFFFFF;
    @include box_shadow(#555, 0px, 0px, 5px);
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;

    .avatar {
      @include box_shadow(#555, 0px, 0px, 6px);
      width: 205px;
      height: 205px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        // width and height set via javascript
      }
    }

    .span9 { margin-left: 5px; }

    .header-main {
      position: relative;
      height: 205px;
      .info {
        p {
          margin: 0px;
          line-height: 16px;
        }
        .name {
          margin: 0px;
          font-size: 30px;
        }
        .location {
          position: relative;
          top: -5px;
          font-weight: normal;
          font-size: 18px;
          //color: lighten($text_color,50%);
          margin: 0px;
        }

        #labels-section {
          margin-top: 0px;
          margin-bottom: 10px;

          .labels {
            display: inline-block;
            p {
              display: block;
              line-height: 22px;
              font-size: 13px;
              color: lighten($text_color,50%);
            }
          }
          .entries {
            margin-left: 30px;
            display: inline-block;
            p {
              display: block;
              line-height: 22px;
              height: 22px;
            }
            p.karma { width: 35px; }
          }
        }
      }

      .buttons {
        position: absolute;
        bottom: 0;
        > * {
          display: inline-block;
          margin-right: 5px;
        }
        .btn.btn-info {
          @include background-linear-gradient(top,#DD5D8C,#d4346f);
        }
      }
    }
    .right-block {
      margin-right: 25px;
      .completeness {
      }
      .external-links {
        margin-top: 25px;
        p {
          margin: 0px;
          //margin-left: 15px;
          color: lighten($text_color,35%);
        }
        hr { margin: 0px; margin-bottom: 5px; }
        .link {
          margin-bottom: 5px;
          display: block;
        }
      }
    }
  }

  // common to both content and sidebar sections
  .section {
    background-color: #FFFFFF;
    @include box_shadow(#555, 0px, 0px, 5px);
  }

  .content {
    margin-bottom: 15px;
    margin-left: 2px;
    .shortened-list { margin-bottom: 0px; }
    .see-more { margin-left: 25px; }

    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .section {
      margin-top: 14px;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 15px;
      padding-bottom: 10px;

      .body {

      }
    }
  }

  .sidebar {
    margin-left: -3px;
    margin-right: 2px;
    margin-top: 14px;
    font-size: 0.9em;
    color: #555;
    .joined {
      text-align: center;
    }

    .section {
      margin-top: 14px;
      padding-left: 15px;
      padding-bottom: 15px;

      .title {
        padding-top: 10px;
        font-size: 16px;
        color: rgb(38,38,38);
      }
      > hr {
        margin-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-right: 15px;
      }
    }

    #recent-activity {
      .body h3 {
        padding-top: 10px;
        padding-bottom: 5px;
      }
      .activity-link {
        display: block;
        padding-top: 3px;
        padding-left: 7px;
      }
    }
    #other-members {
      > .body { padding-top: 15px; }
      .eighty-thousand-hours-profile-condensed-2 { margin-bottom: 5px; }
    }
  }
}


.contact-user-form {
  width: 450px;
  .header {
    background-color: rgb(235,235,235);
    h2 { 
      position: relative;
      left: 20px;
      margin-top: 0px;
      padding-top: 30px;
    }
  }
  .form-inputs {
    margin-left: 15px;
    margin-right: 15px;
    width: 400px;
    
    #message-subject {
      width: 100%;
    }
    #message-body {
      margin-top: 10px;
      width: 100%;
    }
  }
  .form-actions {
    margin-bottom: 0px;
    background-color: rgb(235,235,235);
    #submit-btn { margin-left: 40px; }
    #cancel-btn { margin-left: 40px; }
  }

  form { margin-bottom: 0px; }
}


//********** Edit profile ***********

.edit-profile {
  #linkedin {
      margin-top: 40px;
      .header { margin-bottom: 20px; }
      p { margin-bottom: 12px; }
    }

  .heading {
    .name { display: inline-block; }
    .completeness {
      display: inline-block;
      float: right;
      margin-top: 20px;
      //margin-left: 50px;
    }
  }

  .form {
    img {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 15px;
    }

    #declaration {
      #donation {
        margin-top: 15px;
        #user_etkh_profile_attributes_donation_percentage_slider {
          margin-top: 15px;
        }
      }
    }

    #experience {
      .new-form {
        width: 385px;
        height: 300px;

        #position_start_date_month, #position_end_date_month { width: 120px; }
        #position_start_date_year, #position_end_date_year {
          visibility: visible;
          float: right;
          width: 70px;
        }

        // Move start date year up to be inline with start date month
        .control-group:nth-child(6) { 
          visibility: hidden;
          position: relative;
          top: -50px;
        }

        // Also move up controls below start date to fill blank space
        .control-group:nth-child(7) { 
          position: relative;
          top: -50px;
        }

        // Move end date year to be inline with end date month
        .control-group:nth-child(8) { 
          visibility: hidden;
          position: relative;
          top: -100px;
        }

        .control-group:nth-child(9) { 
          position: relative;
          top: -100px;
        }

        .buttons {
          position: relative;
          top: -110px;
          margin-left: 160px;
          #btn-add-position-cancel { margin-left: 25px; }
          #btn-edit-position-cancel { margin-left: 52px; }
        }
      }


      .edit-form {
        height: 130px;

        .control-group.hidden { display: none; }
        .controls {
          margin-left: 0px;
        }
        .optional {
          width: 170px;
          margin: 0px;
        }
        .control-group {
          margin-bottom: 3px;
          .optional {
            padding-bottom: 2px;
            padding-top: 3px;
          }
        }
        .select {
          width: 80px;
          padding: 0px;
          height: 24px;
          font-size: 10px;
        }
        .numeric {
          width: 50px;
          padding: 0px;
          font-size: 12px;
        }

        // shift elements to right
        #position_start_date_year {
          position: relative;
          left: 82px;
        }
        #position_end_date_month {
          position: relative;
          left: 150px;
        }
        #position_end_date_year {
          position: relative;
          left: 230px;
        }

        // shift elements up
        .control-group:nth-child(6) {
          position: relative;
          top: -28px;
        }
        .control-group:nth-child(7) {
          position: relative;
          top: -58px;
        }
        .control-group:nth-child(8) {
          position: relative;
          top: -86px;
        }
        .buttons {
          position: relative;
          top: -80px;
        }
      }
    }
  }

  #education {
    .new-form {
      width: 385px;
      height: 350px;

      #education_start_date_year, #education_end_date_year {
        width: 100px;
      }

      .buttons {
        margin-left: 160px;
        #btn-add-education-cancel { margin-left: 15px; }
        #btn-edit-education-cancel { margin-left: 52px; }
      }
    }


    .edit-form {
      height: 170px;

      .control-group.hidden { display: none; }
      .controls {
        margin-left: 0px;
      }
      .optional {
        width: 170px;
        margin: 0px;
      }
      .control-group {
        margin-bottom: 3px;
        .optional {
          padding-bottom: 2px;
          padding-top: 3px;
        }
      }
      .numeric {
        width: 50px;
        padding: 0px;
        font-size: 12px;
      }

      // shift end year to right
      #education_end_date_year {
        position: relative;
        left: 85px;
      }

      // position paragraph
      #dates-to {
        position: relative;
        left: 65px;
        top: -28px;
      }

      // shift end year up
      .control-group:nth-child(8) {
        position: relative;
        top: -55px;
      }

      .buttons {
        position: relative;
        top: -45px;
      }
    }
  }


  .linkedin-form {
    width: 500px;
    height: 345px;

    .header {
      width: 100%;
      height: 80px;
      img {
        margin-left: 20px;
        margin-top: 20px;
      }
    }

    .content {
      position: relative;
      left: 10px;
      width: 478px;
      height: 230px;
      -webkit-border-radius: 4px;
      border: 1px solid rgb(255,255,255);
      .body {
        height: 130px;
        background-color: #FFFFFF;

        p {
          padding-top: 40px;
          padding-bottom: 50px;
          padding-left: 30px;
          padding-right: 25px;
          line-height: 28px;
          font-size: 18px;
        }
      }

      .form-actions {
        height: 100px;
        margin: 0px;
        padding: 0px;
        background-color: rgb(235,235,235);

        .btn-confirm {
          margin-top: 25px;
          margin-left: 75px;
        }
        .btn-reject {
          margin-top: 25px;
          margin-left: 50px
        }
      }
    }
  }
}

//*******Condensed profiles*********

.eighty-thousand-hours-profile-condensed {
  height: 48px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  overflow: hidden;

  .avatar {
    display: inline-block;
    float: left;
    @include box_shadow(#555, 0px, 0px, 2px);

    height: 40px;
    width: 40px;

    margin: 3px;
    position: relative;
    overflow: hidden;

    img {
      position:absolute;
      // image dimensions set via JS
    }
  }

  .text {
    display: inline-block;
    width: 150px;
    padding:0px;
    margin: 0px;
    margin-left: 10px;
    font-size: 0.9em;
    p { margin: 0; line-height: 16px; }
    .name {
      margin-top: 5px;
      font-weight: bold;
      a { line-height: 16px; }
    }
    .location {
      color: lighten($text_color,50%);
      margin-top: 5px;
    }
  }
}

.eighty-thousand-hours-profile-condensed-2 {
  display: block;
  height: 60px;
  margin-right: 5px;

  .avatar {
    display: inline-block;
    float: left;
    @include box_shadow(#555, 0px, 0px, 2px);
    position: relative;
    height: 60px;
    width: 60px;
    overflow: hidden;
    img {
      position: absolute;
      // image dimensions set via javascript
    }
  }

  .body {
    display: inline-block;
    margin-left: 10px;
    width: 200px;
    height: 55px;
    
    .name {
      margin-top: 2px;
      font-weight: bold;
    }
    .content {
      position: relative;
      top: -2px;
      margin: 0px;
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

.profile-teaser {
  @include rounded_borders(#dfdfdf, 1px, 5px);
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 7px;

  .avatar {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
    @include box_shadow(#555, 0px, 0px, 5px);
    img {
      position: absolute;
    }
  }

  .heading {
    p { 
      margin: 0px;
      line-height: 18px;
    }
    hr {
      margin-top: 5px;
      margin-bottom: 5px;
      border-width: 2px;
      color: #dfdfdf;
    }

    .name {
      font-size: 1.2em;
    }
    .location { 
      font-size: 0.8em;
      //padding-bottom: 8px;
    }
    .organisation { font-size: 0.8em; }
  }

  .body {
    .labels {
      .position p { margin-bottom: 0px; }
      .activities {
        position: relative;
        top: 15px;
      }
    }
    .info {
      font-size: 0.925em;
      line-height: 20px;

      .position p { margin-bottom: 5px; }
      .background p { margin-bottom: 5px; }
    }
  }
}

#profile-popup {
  position: absolute;
  z-index: 100;
}

#profile-hover {
  width: 300px;
  height: 100px;
  overflow: hidden;
  padding: 10px;
  background-color: #FFFFFF;
  @include rounded_borders(#A1A1A1, 3px, 5px); 

  .avatar {
    position: relative;
    height: 100px;
    width: 100px;
    @include box_shadow(#555, 0px, 0px, 6px);
    overflow: hidden;
    img {
      position: absolute;        
    }
  }
  .body {
    margin-left: 5px;
    .name {
      font-size: 16px;
      font-weight: bold;
    }
    .content {
      p {
        font-size: 14px;
        line-height: 16px;
        margin: 0px;
        margin-bottom: 3px;
      }
    }
  }
}

/*********Profile completeness********/
.profile-completeness {
  width: 190px;

  .title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .text {
    font-size: 13px;
    line-height: 13px;
    p { line-height: 16px; }
  }

  .bar {
    /* bar container */
    .ui-progress-bar {
      display: inline-block;
      position: relative;
      width: 150px;
      height: 20px;
      background-color: #abb2bc;

      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;

      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));
      background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);

      -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
      -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
      box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;

        /* progress bar itelf */
      .ui-progress {
        position: relative;
        display: block;
        overflow: hidden;
        height: 18px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-background-size: 44px 44px;
        background-color: #74d04c;

        background: -webkit-gradient(linear, 0 0, 44 44,
          color-stop(0.00, rgba(255,255,255,0.17)),
          color-stop(0.25, rgba(255,255,255,0.17)),
          color-stop(0.26, rgba(255,255,255,0)),
          color-stop(0.50, rgba(255,255,255,0)),
          color-stop(0.51, rgba(255,255,255,0.17)),
          color-stop(0.75, rgba(255,255,255,0.17)),
          color-stop(0.76, rgba(255,255,255,0)),
          color-stop(1.00, rgba(255,255,255,0))
        ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c), color-stop(1, #9bdd62));
        background: -moz-repeating-linear-gradient(top left -30deg,
          rgba(255,255,255,0.17),
          rgba(255,255,255,0.17) 15px,
          rgba(255,255,255,0) 15px,
          rgba(255,255,255,0) 30px
        ), -moz-linear-gradient(#9bdd62 0%, #74d04c 100%);

        -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
        -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
        box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
        border: 1px solid #4c8932;
        -webkit-animation: animate-stripes 2s linear infinite;
      }
    }

    /* label inside progress bar */
    .value-container {
      display: inline-block;
      margin-left: 5px;
      position: relative;
      top: -5px;
      height: 20px;
      right: 0;
      text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
      white-space: nowrap;
    }
  }

  /* for animation */
  @-webkit-keyframes animate-stripes {
    from {
      background-position: 0 0;
    }
    to {
     background-position: 44px 0;
    }
  }
}


/********Members pages**********/

.members-page {
  #search-form {
    margin: 0px;
    margin-bottom: 25px;
  }
  #members-list {
    position: relative;
  }
  #loading-icon {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
}

.all-members {
  .search-form { margin-bottom: 50px; }
}


.search-form {
  @include rounded_borders(rgb(200,200,200),3px,12px);
  width: 550px;

  form {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;

    .labels {
      display: inline-block;
      margin-left: 15px;
      label { margin-bottom: 25px; }
    }
    .inputs {
      display: inline-block;
      margin-left: 30px;
      position: relative;
      input {
        display: block;
        margin-bottom: 15px;
        width: 170px;
      }
    }
    #hidden-labels, #hidden-inputs { display: none }
    .link {
      display: inline-block;
      margin-left: 10px;
    }
    .button {
      display: inline-block;
      position: relative;
      margin-left: 10px;
      .btn.btn-info {
        @include background-linear-gradient(top,#DD5D8C,#d4346f);
      }
    }
  }
}