@import "shared/partials";

.eighty-thousand-hours-profile {
  .name {
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0.3,0.3,0.3,.3);
    padding-bottom: 5px;
  }
  .location {
    font-weight: normal;
    color: lighten($text_color,50%);
    margin-bottom: 0.3em;
  }
  
  .sidebar {
    padding-top: 40px;
    font-size: 0.8em;
    color: #555;
    .joined {
      text-align: center;
    }
    .avatar {
      img {
        @include box_shadow(#555, 0px, 0px, 6px);
      }
    }
  }
  .main {
    padding-top: 30px;
  }
}

.eighty-thousand-hours-profile-condensed {
  height: 64px;
  padding: 0px;
  margin: 0px;

  .avatar {
    float: left;
    @include box_shadow(#555, 0px, 0px, 2px);

    height: 32px;
    width: 32px;

    margin: 3px;
    margin-right: 10px;
    position: relative;

    img {
      // in case non-square photos
      position:absolute;
      clip:rect(0px,32px,32px,0px);
    }
  }

  .text {
    padding:0px;
    margin: 0px;
    font-size: 0.9em;
    .name {
      font-weight: bold;
    }
    .location {
      color: lighten($text_color,50%);
    }
  }

}

.contact-user-form {
  width: 550px;
  .header {
    background-color: rgb(235,235,235);
    h2 { 
      position: relative;
      left: 20px;
      margin-top: 0px;
      padding-top: 20px;
    }
  }
  .form-inputs {
    margin-left: 15px;
    margin-right: 15px;
    width: 500px;
    
    #message-subject {
      width: 100%;
    }
    #message-body {
      margin-top: 10px;
      width: 100%;
    }
  }
  .form-actions {
    margin-bottom: 0px;
    background-color: rgb(235,235,235);
    #submit-btn {
      margin-left: 20px;
    }
    #cancel-btn { margin-left: 30px; }
  }

  form { margin-bottom: 0px; }
}


.profile-teaser {
  @include rounded_borders(#dfdfdf, 1px, 5px);
  padding: 10px;
  margin-bottom: 7px;

  .avatar {

  }

  .heading {
    p { 
      margin: 0px;
      line-height: 18px;
    }
    hr {
      margin-top: 5px;
      margin-bottom: 5px;
      border-width: 2px;
      color: #dfdfdf;
    }

    .name {
      font-size: 1.2em;
    }
    .location { 
      font-size: 0.8em;
      //padding-bottom: 8px;
    }
    .organisation { font-size: 0.8em; }
  }

  .body {

    .labels {
      //font-size: 0.85em;
    }
    .info {
      font-size: 0.95em;
      line-height: 20px;
    }
  }
}