/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
  src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

footer {
  background: #444c4e;
  border-top: 8px solid #40bcd1;
  color: #7b7f80;
  padding-top: 40px;
  margin-top: 40px;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  footer p {
    font-size: 0.8em; }
  footer .menu {
    padding-bottom: 10px; }
  footer hr {
    border-color: #555555;
    margin-bottom: 10px; }
  footer .logo {
    float: left;
    clear: none;
    padding: 5px;
    padding-right: 10px;
    height: 40px; }
  footer a {
    color: #cccccc; }
  footer a:hover {
    color: #40bcd1;
    text-decoration: none; }
  footer ul {
    float: left;
    list-style-type: none;
    padding-right: 20px;
    padding-left: 0px;
    min-width: 8%;
    max-width: 16%; }
    footer ul li.heading {
      font-size: 1.1em;
      padding-bottom: 10px; }
      footer ul li.heading a {
        color: #dbe1e1; }
      footer ul li.heading a:hover {
        color: #40bcd1; }
    footer ul li {
      font-size: 0.8em; }
      footer ul li a {
        color: #7b7f80; }
  footer .charity {
    margin-top: 10px;
    margin-bottom: 30px; }
    footer .charity p {
      font-size: 0.8em;
      color: #ccc;
      margin: 0px; }
    footer .charity a {
      color: #d4346f; }
    footer .charity a:hover {
      color: #c52a63; }
  footer .logo-line {
    background: #373f41;
    color: #7b8181;
    padding: 14px; }
    footer .logo-line img {
      width: 130px; }

.footer-link {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px; }
  .footer-link a:hover {
    color: #40bcd1; }
