@import "shared/partials";

footer {
  background:#444c4e;
  border-top: 8px solid #40bcd1;
  color: #fff;
  padding-top: 1.5em;

  text-align: left;
  margin-left: auto;
  margin-right: auto;

  .menu {
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo { 
       float:left; clear: none;
       padding: 5px;
       padding-right: 10px;
       height: 40px;
  }

  a {
    color: #cccccc;
  }
  a:hover {
    color: #40bcd1;
    text-decoration: none;
  }
  ul {
    float:left;
    width: 13%;
    padding-top: 10px;
    list-style-type: none;
    li.heading {
      font-size: 1.2em;
      padding-bottom: 10px;
      a {
        color: #dbe1e1;
      }
    }
    li {
      font-size: 0.8em;
      a{
        color: #7b7f80;
      }
    }
  }

  .disclaimer {
    font-size: 0.8em;
    color: #ccc;
  }

  .charity {
    p{ 
      font-size: 0.8em;
      color: #ccc;
      margin: 0px;
    }
    margin-top: 10px;
    margin-bottom: 30px;
    a {
      color: $link_color;
    }
    a:hover {
      color: $link_hover_color;
    }
  }
}


.footer-link
{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  a:hover {
    color: #40bcd1;
  }
}

