@import "shared/partials";

footer {
  background:#444c4e;
  border-top: 8px solid #40bcd1;
  color: #7b7f80;
  padding-top: 40px;
  margin-top: 40px;

  text-align: left;
  margin-left: auto;
  margin-right: auto;

  p{
    font-size:0.8em;
  }

  .menu {
    padding-bottom: 10px;
  }

  hr{
    border-color:#555 ;
    margin-bottom:10px;
  }

  .logo { 
       float:left; clear: none;
       padding: 5px;
       padding-right: 10px;
       height: 40px;
  }

  a {
    color: #cccccc;
  }
  a:hover {
    color: #40bcd1;
    text-decoration: none;
  }
  ul {
    float:left;
    list-style-type: none;
    padding-right: 20px;
    padding-left:0px;
    min-width:8%;
    max-width:16%;
    li.heading {
      font-size: 1.1em;
      padding-bottom: 10px;
      a {
        color: #dbe1e1;
      }
    }
    li {
      font-size: 0.8em;
      a{
        color: #7b7f80;
      }
    }
  }

  .charity {
    p{ 
      font-size: 0.8em;
      color: #ccc;
      margin: 0px;
    }
    margin-top: 10px;
    margin-bottom: 30px;
    a {
      color: $link_color;
    }
    a:hover {
      color: $link_hover_color;
    }
  }

  .logo-line{
    background:#373f41;
    color: #7b8181;
    padding:14px;

    img{
      width:130px;
    }
  }
}


.footer-link
{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  a:hover {
    color: #40bcd1;
  }
}

