/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
  src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

.blog .forum .header {
  margin-left: 10px; }
.blog .forum #btn-drafts {
  margin-left: 10px; }
.blog .forum .controls {
  padding-bottom: 10px; }
.blog .forum .content .heading > .voting .up-arrow {
  position: relative;
  top: 2px; }
.blog .forum .content .heading > .voting .down-arrow {
  position: relative;
  top: -2px; }
.blog .forum .content .heading .avatar {
  float: left;
  -moz-border-radius: 3px 3px;
  -webkit-border-radius: 3px 3px;
  -khtml-border-radius: 3px 3px;
  -o-border-radius: 3px 3px;
  border-radius: 3px 3px;
  border: 1px #cccccc solid;
  -o-box-shadow: 0px 0px 5px #cccccc;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
  -moz-box-shadow: 0px 0px 5px #cccccc;
  box-shadow: 0px 0px 5px #cccccc;
  width: 60px;
  height: 60px;
  position: relative;
  top: 5px; }
  .blog .forum .content .heading .avatar img {
    vertical-align: middle;
    position: absolute;
    clip: rect(0px, 60px, 60px, 0px);
    width: 60px; }
.blog .forum .content .heading .header {
  padding-left: 110px;
  margin-top: 10px; }
  .blog .forum .content .heading .header .author {
    padding-top: 20px; }
.blog .forum .content .body {
  padding-top: 135px;
  padding-left: 3px; }
.blog .forum #comments {
  margin-top: 40px; }
