/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
header{
  .logo img {
  max-width: 170px; }

  ul.nav{
    margin-top:16px;

    .a1 a:hover{
        color:#00b5aa;
    }
    .a2 a:hover{
        color:#00b8a9;
    }
    .a3 a:hover{
        color:#00bba8;
    }
    .a4 a:hover{
        color:#00bea7;
    }
    .a5 a:hover{
        color:#00c2a7;
    }
    .a6 a:hover{
        color:#00c3a6;
    }

    > li{
      margin-left:24px;
      font-family: 'Muli', sans-serif;
      font-weight: 200;
      > a{
      border: 1px solid rgba(0,0,0,0);
        padding:5px 10px;
        font-size:22px;
        color: #777;
        border-radius:3px;
        &:hover{
          background:none;
        }
      }
      .dropdown-menu{
        box-shadow: 5px 5px 0px rgba(0,0,0,0.4);
        border: 1px solid #999;
        border-radius: 2px;
      }
    }
    .caret{
      border-top-color: #666;
      border-bottom-color: #666;
     }
     .open > a{
       &:hover{
         background-color:#40bcd1;
         color: white;
       }
     }
  }
}
header.navbar{
  background: #f6f6f6;
  padding:20px 0 20px 0;
  margin-bottom: 0px;
  box-shadow: 0 2px 1px rgba(50,50,50,0.1);
}

