/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
  src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent !important; }

header {
  background: #222222;
  /*background-image: url('/assets/bg/noise.png'); /* fallback */
  /*background-image: url('/assets/bg/noise.png'), -webkit-gradient(linear, left top, left bottom, from($header_gradient_start), to($header_gradient_end));*/
  /* Saf4+, Chrome */
  /*background-image: url('/assets/bg/noise.png'), -webkit-linear-gradient(top, $header_gradient_start, $header_gradient_end);*/
  /* Chrome 10+, Saf5.1+ */
  /*background-image: url('/assets/bg/noise.png'),    -moz-linear-gradient(top, $header_gradient_start, $header_gradient_end);*/
  /* FF3.6+ */
  /*background-image: url('/assets/bg/noise.png'),     -ms-linear-gradient(top, $header_gradient_start, $header_gradient_end);*/
  /* IE10 */
  /*background-image: url('/assets/bg/noise.png'),      -o-linear-gradient(top, $header_gradient_start, $header_gradient_end);*/
  /* Opera 11.10+ */
  /*background-image: url('/assets/bg/noise.png'),         linear-gradient(top, $header_gradient_start, $header_gradient_end);*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#222222));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #444444, #222222);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #444444, #222222);
  /* IE10 */
  background-image: -o-linear-gradient(top, #444444, #222222);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #444444, #222222);
  border-bottom: 1px solid black; }
  header .navbar-container {
    padding-bottom: 0px; }
    header .navbar-container .row .span12 {
      height: 25px; }
  header .navbar-top {
    font-size: 100%;
    /*padding-bottom: 10px;*/
    margin-bottom: 10px !important; }
  header .navbar-inner {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    -o-box-shadow: 0px 0px 0px #666666;
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666;
    font-size: 100%; }
  header .navbar {
    margin-bottom: 0px !important; }
  header .navbar-menu {
    /*font-size: 0.8em;*/
    /*@include rounded_borders(lighten($header_bg_color,20%), 1px, 6px);*/
    /*@include box_shadow(lighten($header_bg_color,20%), 0px, 0px, 5px);*/
    margin-top: 0px;
    background: none !important; }
    header .navbar-menu .navbar-inner {
      background-color: transparent !important;
      background-image: none !important;
      border: none !important;
      padding-left: 0px !important; }
      header .navbar-menu .navbar-inner a.top-level {
        color: white !important;
        margin-right: 30px; }
        header .navbar-menu .navbar-inner a.top-level:hover {
          color: #d4346f !important; }
      header .navbar-menu .navbar-inner ul li a.top-level {
        padding-left: 0px !important; }
      header .navbar-menu .navbar-inner ul li.active.top-level a.top-level {
        color: #d4346f !important;
        padding-left: 0px !important;
        background-color: transparent !important;
        background-image: none !important;
        -o-box-shadow: 0px 0px 0px #666666;
        -webkit-box-shadow: 0px 0px 0px #666666;
        -moz-box-shadow: 0px 0px 0px #666666;
        box-shadow: 0px 0px 0px #666666; }
      header .navbar-menu .navbar-inner ul li.active a.top-level:hover {
        background: none !important; }
      header .navbar-menu .navbar-inner li.dropdown.top-level.open {
        background: transparent !important;
        color: green !important; }
      header .navbar-menu .navbar-inner ul.dropdown-menu {
        background: #2c2c2c !important;
        border: 1px solid #555555; }
      header .navbar-menu .navbar-inner ul.dropdown-menu a {
        color: #999; }
      header .navbar-menu .navbar-inner ul.dropdown-menu a:hover {
        color: #efefef;
        background: none; }
      header .navbar-menu .navbar-inner ul.dropdown-menu .divider {
        background: #333;
        border-bottom: 1px solid #555555; }
  header a#header-logo {
    font-size: 1.125em;
    font-family: "MuseoSlab-500", helvetica, arial, sans-serif;
    /*font-weight: bold;*/
    /*line-height: 1.3333em;*/
    /*padding-top: 7px;*/
    float: left;
    color: white;
    margin-right: 20px;
    width: 160px; }
    header a#header-logo:hover {
      text-decoration: none; }

.clearfix .caret {
  position: relative;
  top: 0.25em; }

.pull-right .caret {
  position: relative;
  top: 3px; }

#interaction {
  float: right;
  text-align: right;
  color: #efefef;
  padding-right: 10px;
  font-size: 12px; }
  #interaction .user-login {
    padding-bottom: 5px; }
  #interaction a {
    color: #efefef;
    margin-left: 1px;
    white-space: nowrap;
    text-decoration: none; }
  #interaction a:hover {
    color: #d4346f;
    background: none;
    text-decoration: none; }
  #interaction .social {
    float: right;
    display: block;
    height: 30px; }

/*#bootstrap-nav {
 *margin-top: 0.2em;
*}
*
*.nav-collapse .pull-right li {
* margin-left: 10px;
*}*/
#bootstrap-nav .search-query {
  -moz-border-radius: 1px 1px !important;
  -webkit-border-radius: 1px 1px !important;
  -khtml-border-radius: 1px 1px !important;
  -o-border-radius: 1px 1px !important;
  border-radius: 1px 1px !important;
  border: 1px #333333 solid;
  padding: 0 0 0 5px;
  width: 170px; }

.search-query-icon {
  margin-right: 20px;
  width: 27px;
  height: 27px; }

.navbar-inverse .navbar-search .search-query {
  background-color: #666666; }

.navbar-inner .container .nav {
  margin: 0;
  font-size: 100%; }

.navbar-inner .pull-right {
  font-size: 72%;
  padding-left: 0; }

.nav-collapse .pull-right a {
  margin-left: 20px; }

.noise .span12 {
  margin-left: 0; }
