/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
header{
  .logo img {
  max-width: 155px; }

  ul.nav{
    margin-top:16px;

    .a1 a:hover{
      color:#00b5aa;
    }
    .a2 a:hover{
      color:#00b8a9;
    }
    .a3 a:hover{
      color:#00bba8;
    }
    .a4 a:hover{
      color:#00bea7;
    }
    .a5 a:hover{
      color:#00c2a7;
    }
    .a6 a:hover{
      color:#00c3a6;
    }
    > li{
      font-family: 'Muli', sans-serif;
      font-weight:200;
      > a{
        border: none;
        padding: 5px 14px;
        font-size:18px;
        color: #788;
        border-radius:3px;
        &:hover{
          background:none;
        }
      }
      .dropdown-menu{
        border-color: rgba(100,100,100,0.3);
        border-radius:2px;
        background-color: #f6f6f6;
        box-shadow:none;
        > li > a{
          color: #666;
          &:hover{
            color:black;
            background:rgba(0,190,167,0.3);
          }
        }
      }
    }
    .open > a:focus{
      background-color: rgba(50,50,50,0);
      border:none;
    }
    .caret{
      border-top-color: #666;
      border-bottom-color: #666;
    }
    .open > a{
      &:hover{
        background-color:rgba(50,50,50,0);
        border:none;
      }
      &:focus {
        background-color:rgba(50,50,50,0);
        border:none;
      }
    }
  }
}
header.navbar{
  background: #f6f6f6;
  padding:12px 0 14px 0;
  margin-bottom: 0px;
  box-shadow: 0 2px 1px rgba(50,50,50,0.1);
}

.sub-header{
  background: linear-gradient(45deg, rgba(34,144,175,0.9), rgba(16,203,165,0.9));
  min-height: 4px;
  h1{
    font-family: 'Muli', sans-serif;
    color: rgba(255,255,255,0.85);
    font-weight: 200;
    margin-bottom: 16px;
    margin-top: 16px;
    font-size:32px;
  }
  form{
    margin-top:17px;
  }
  input{
    border: none;
    font-size: 18px;
    padding: 7px 7px 5px 13px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 100;
  }
  .submit{
    background: none;
  }
  .search-query{
    background-color: rgba(0, 0, 0, 0.15);
    /* min-height: 45px; */
    border-radius: 2px;
    width:312px;
    &:focus{
      background-color:rgba(0,0,0,0.21);
      outline: none;
    }
  }
  .search-query::-webkit-input-placeholder {
    color:rgba(255,255,255,0.7);
  }
}
