/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
header{
  .logo img {
  max-width: 170px; }

  ul.nav{
    margin-top:17px;

    .a1 a:hover{
        color:#00b5aa;
        border: 1px solid #00b5aa;
    }
    .a2 a:hover{
        color:#00b8a9;
        border: 1px solid #00b8a9;
    }
    .a3 a:hover{
        color:#00bba8;
        border: 1px solid #00bba8;
    }
    .a4 a:hover{
        color:#00bea7;
        border: 1px solid #00bea7;
    }
    .a5 a:hover{
        color:#00c2a7;
        border: 1px solid #00c2a7;
    }
    .a6 a:hover{
        color:#00c3a6;
        border: 1px solid #00c3a6;
    }

    > li{
      margin-left:30px;
      > a{
      border: 1px solid rgba(0,0,0,0);
        padding:5px 10px;
        font-size:18px;
        color: #666;
        border-radius:3px;
        .a2:hover{
          background:red;
        }
        &:hover{
          .a2, .a3, a5{
            background-color: #f00;
          }
         color: white;
        }
      }
      .dropdown-menu{
        box-shadow: 5px 5px 0px rgba(0,0,0,0.4);
        border: 1px solid #999;
        border-radius: 2px;
      }
    }
    .caret{
      border-top-color: #666;
      border-bottom-color: #666;
     }
     .open > a{
       &:hover{
         background-color:#40bcd1;
         color: white;
       }
     }
  }
}
header.navbar{
  background: #eee;
  padding:20px 0 20px 0;
  margin-bottom: 0px;
}

