.home{
  .background{
    background: linear-gradient(45deg, #2290af,#10cba5 100%); /* W3C */
  }

  .cta-section{
    //background: #306975; /* Old browsers */
    //background-image: url("/assets/front_page/patterns/test-10-large.png");
    padding:30px 0 50px 0;
    h1{
      font-size:74px;
      margin-bottom:70px;
      color:white;
    }
    h2{
      color:#333;
      font-size:32px;
    }
    .buttons{
      margin-top:40px;
      .cta{
        font-size:29px;
        padding:19px;
        font-weight: 400;
        background: rgba(255,255,255,0.85);
        color: #044;
        &:hover{
          background: rgba(50,200,200,0.5);
        }
      }
    }
  }
  .people-say{
    padding: 28px 0 34px 0;
    background: rgba(255,255,255,0.85);
    .profile{
      padding: 0 26px;
      p{
        color: #333;
        font-size:18px;
      }
      h4{
        font-size:14px;
        color:#000;
      }
      img{
        width:210px;
        margin-bottom:18px;
      }
    }
  }

  .core-concepts{
    padding: 0 0 56px 0;
    background-image: url("/assets/front_page/patterns/project_papper_24.png");
    h1{
      margin-bottom: 35px;
      margin-top:59px;
      color: #222;
      border-bottom:2px dashed #ccc;
      padding-bottom:15px;
    }
    .item{
      padding: 0 62px;
      text-align:center;
      h2{
        font-size:23px;
        color: #444;
      }
      img{
        height: 110px;

      }
      p{
        text-align:justify;
        color: #666;
      }
    }
  }
  .affiliations{
      background: #eee;
      padding: 65px 0 55px 0;
    hr{
      border-top: 2px solid #999;
    }
    .organizations{
      img{
        width:130px;
      }
      hr.dashed{
        border-top: 2px dashed #999;
      }
    }
    .media{
      img{
        max-height:36px;
        margin: 0 11px;
      }
    }
  }
}
