.home{
  .cta-section{
    background: #306975; /* Old browsers */
    background: -moz-linear-gradient(45deg, #306975 0%, #9fdce8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#306975), color-stop(100%,#9fdce8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #306975 0%,#9fdce8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #306975 0%,#9fdce8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #306975 0%,#9fdce8 100%); /* IE10+ */
    background: linear-gradient(45deg, #306975 0%,#9fdce8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#306975', endColorstr='#9fdce8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding:30px 0 50px 0;
    h1{
      font-size:74px;
      margin-bottom:70px;
      color:white;
      text-shadow: 4px 4px 1px #666;
    }
    h2{
      color:#333;
      font-size:32px;
    }
    .buttons{
      margin-top:40px;
      .cta{
        font-size:29px;
        padding:19px;
        font-weight: 500px;
        background: white;
        box-shadow: 5px 5px 1px #666;
        color: #333;
        &:hover{
          background: #aaa;
        }
      }
    }
  }
  .people-say{
    background: #eee;
    padding: 28px 0 34px 0;
    .profile{
      padding: 0 26px;
      p{
        color: #333;
        font-size:18px;
      }
      h4{
        font-size:14px;
        color:#000;
      }
      img{
        width:180px;
        margin-bottom:18px;
        -webkit-filter: drop-shadow(4px 4px 1px #666);
        filter: drop-shadow(4px 4px 1px #666);
      }
    }
  }

  .core-concepts{
    padding: 0 0 56px 0;
    h1{
      margin-bottom: 35px;
      margin-top:59px;
      color: #222;
      border-bottom:2px dashed #ccc;
      padding-bottom:15px;
    }
    .item{
      padding: 0 62px;
      text-align:center;
      h2{
        font-size:23px;
        color: #444;
      }
      img{
        height: 110px;

      }
      p{
        text-align:justify;
        color: #666;
      }
    }
  }
  .affiliations{
      background: #eee;
      padding: 65px 0 55px 0;
    hr{
      border-top: 2px solid #999;
    }
    .organizations{
      img{
        width:130px;
      }
      hr.dashed{
        border-top: 2px dashed #999;
      }
    }
    .media{
      img{
        max-height:36px;
        margin: 0 11px;
      }
    }
  }
}
