a {
  color: #1496c9; }

a:hover {
  color: #003399; }

#content {
  padding-top: 20px;
  padding-bottom: 22px;
  min-height: 400px; }

h1, h2 {
  font-family: 'Muli', sans-serif; }

h1 {
  font-size: 2.2em;
  margin-top: 41px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  color: #222; }

h2 {
  font-size: 1.7em;
  font-weight: 200;
  margin-top: 32px;
  margin-bottom: 17px; }

h3 {
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  font-size: 16px;
  line-height: 22px; }
li {
  font-size: 16px;
  line-height: 22px;
}
img {
  max-width: 100%; }
