/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
  src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

/******User activity list******/
.activity-list .heading .activity, .activity-list .heading .activity-link, .activity-list .heading .break {
  display: inline-block; }
.activity-list .heading .activity {
  font-size: 18px; }
  .activity-list .heading .activity .selected {
    font-weight: bold; }
  .activity-list .heading .activity .break {
    margin-left: 5px;
    margin-right: 5px;
    color: #737373; }

/*********Profile completeness********/
.profile-completeness {
  width: 100%;
  /* for animation */
  @-webkit-keyframes animate-stripes {
    from {
      background-position: 0 0; }

    to {
      background-position: 44px 0; } }
 }
  .profile-completeness .title {
    font-size: 16px;
    margin-bottom: 5px; }
  .profile-completeness .text .completion-title {
    font-size: 14px;
    margin-bottom: 5px; }
  .profile-completeness .text .tip .plus-icon {
    display: inline-block;
    float: left;
    width: 15px;
    height: 15px;
    vertical-align: middle; }
  .profile-completeness .text .tip .tip-text {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 85%;
    font-size: 13px;
    line-height: 14px; }
  .profile-completeness .bar {
    /* bar container */
    /* label inside progress bar */ }
    .profile-completeness .bar .ui-progress-bar {
      display: inline-block;
      position: relative;
      width: 78%;
      height: 18px;
      background-color: #abb2bc;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));
      background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);
      -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
      -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
      box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
      /* progress bar itelf */ }
      .profile-completeness .bar .ui-progress-bar .ui-progress {
        position: relative;
        display: block;
        overflow: hidden;
        height: 16px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-background-size: 44px 44px;
        background-color: #74d04c;
        background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0, rgba(255, 255, 255, 0.17)), color-stop(0.25, rgba(255, 255, 255, 0.17)), color-stop(0.26, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.51, rgba(255, 255, 255, 0.17)), color-stop(0.75, rgba(255, 255, 255, 0.17)), color-stop(0.76, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c), color-stop(1, #9bdd62));
        background: -moz-repeating-linear-gradient(top left -30deg, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.17) 15px, rgba(255, 255, 255, 0) 15px, rgba(255, 255, 255, 0) 30px), -moz-linear-gradient(#9bdd62 0%, #74d04c 100%);
        -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
        -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
        box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
        border: 1px solid #4c8932;
        -webkit-animation: animate-stripes 2s linear infinite; }
    .profile-completeness .bar .value-container {
      display: inline-block;
      margin-left: 5px;
      position: relative;
      top: -5px;
      height: 20px;
      right: 0;
      text-shadow: rgba(255, 255, 255, 0.45) 0 1px 0px;
      white-space: nowrap; }

/********Members pages**********/
.members-page #search-form {
  margin: 0px;
  margin-bottom: 25px; }
.members-page #members-list {
  position: relative; }
.members-page .loading-icon {
  margin-left: 400px;
  padding-top: 15px;
  padding-bottom: 50px; }

.all-members .search-form {
  margin-bottom: 50px; }

.search-form {
  -moz-border-radius: 12px 12px;
  -webkit-border-radius: 12px 12px;
  -khtml-border-radius: 12px 12px;
  -o-border-radius: 12px 12px;
  border-radius: 12px 12px;
  border: 3px #c8c8c8 solid;
  width: 575px; }
  .search-form form {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px; }
    .search-form form #inputs {
      display: inline-block;
      margin-top: -15px; }
      .search-form form #inputs label {
        display: inline-block;
        margin-left: 15px;
        width: 85px; }
      .search-form form #inputs input {
        margin-left: 15px;
        margin-top: 10px;
        width: 170px; }
    .search-form form .hidden {
      display: none; }
    .search-form form .link {
      display: inline-block;
      margin-left: 10px; }
    .search-form form .button {
      display: inline-block;
      position: relative;
      margin-left: 10px; }
