/*$pf: #f62000;*/
/*$pf: #008080; // Teal*/
/*$pf: #a50021; // purpley-red*/
/*$pf: #ff2400; // scarlet*/
/*$pf: #ffaa00; // gold*/
/*$magenta_2: #e30068;*/
@font-face {
  font-family: 'MuseoSans-700Italic';
  src: url("243719_0_0.eot");
  src: url("243719_0_0.eot?#iefix") format("embedded-opentype"), url("243719_0_0.woff") format("woff"), url("243719_0_0.ttf") format("truetype"); }

.survey {
  padding-top: 30px;
  padding-bottom: 30px; }
  .survey iframe {
    padding: 20px;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -khtml-border-radius: 5px 5px;
    -o-border-radius: 5px 5px;
    border-radius: 5px 5px;
    border: 1px #cccccc solid; }

#new-member-survey .main-section {
  margin-top: 40px; }
  #new-member-survey .main-section > h3 {
    font-size: 22px; }
  #new-member-survey .main-section hr {
    margin-top: 20px;
    margin-bottom: 10px; }
  #new-member-survey .main-section > :nth-child(3) {
    margin-top: 20px; }
  #new-member-survey .main-section .section {
    margin-top: 40px; }
  #new-member-survey .main-section .sub-section {
    margin-top: 40px; }
    #new-member-survey .main-section .sub-section label {
      margin-bottom: 8px; }
  #new-member-survey .main-section .comments-section {
    margin-top: 20px; }
  #new-member-survey .main-section .options {
    margin-top: 10px;
    margin-left: 10px; }
#new-member-survey #bottom {
  height: 50px;
  margin: 40px 0 20px 0; }
  #new-member-survey #bottom #submit-btn {
    margin-left: 150px; }
  #new-member-survey #bottom #thank-you {
    display: none;
    margin-left: 50px; }
#new-member-survey p {
  margin-bottom: 0px; }
#new-member-survey .inline {
  display: inline-block;
  margin-right: 15px; }
#new-member-survey .medium-text-area {
  width: 300px;
  height: 50px; }
#new-member-survey .currency {
  width: 75px; }
#new-member-survey .numeric {
  width: 80px; }
#new-member-survey .bold {
  font-family: "MuseoSlab-700", helvetica, arial, sans-serif; }
#new-member-survey .tick {
  font-size: 14px;
  color: #595959;
  margin-top: -5px; }
