.box
  .event-booking-request
    %h1 High Impact Careers in Healthcare

    :markdown
        <p>Thank you for your interest in the High Impact Careers in Healthcare Symposium! See the event <a href='/pdf/Healthcare careers symposium poster.pdf'>POSTER</a> and <a href="/pdf/Healthcare careers symposium speakers.pdf">SPEAKERS</a> for details.</p>

        <p>Sorry this event is now fully-booked.  However, please get in touch with us if you would like any healthcare career-related advice!</p>
