<div class="pre-footer">
</div>
<footer>
  <div class="container ">
    <div class="row">
      <div class="col-md-8">
        <ul> 
          <li class="heading"><a href="/coaching/overview">Coaching</a></li> 
          <li><a href="/coaching/overview">Overview</a></li> 
          <li><a href="/coaching/information">Information</a></li> 
          <li><a href="/coaching/application">Application</a></li> 
        </ul>
        <ul> <li class="heading"><a href="/research">Research</a></li> </ul>
        <ul>
          <li class="heading"> <a href="/members/overview">Supporters</a> <li>
          <li><a href="/members/overview">Members</a></li>
          <li><a href="/endorsements">Endorsements</a></li>
          <li><a href="/student-groups">Student Groups</a></li>
          <li><a href="/media">Media Coverage</a></li>
        </ul> 
        <ul> 
          <li class="heading" ><a href="#">About Us</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/meet_the_team">Meet the Team</a></li>
          <li><a href="/recruitment">Work for Us</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
        <ul><li class="heading"><a href="/blog">Blog</a></li> </ul>
        <ul><li class="heading"><a href="/donate">Donate</a></li></ul>
      </div>
    </div>
    <hr>
    <div class="disclaimer">

          <p>
          We don’t take responsibility for any loss that results as the use of information on the site. See our <a href="/legal">full legal disclaimer</a>.
          </p>
          <p>
          80,000 Hours is part of the Centre for Effective Altruism, a registered charity in England and Wales, Registered Charity Number 1149828
          Centre for Effective Altruism, Oxford Uehiro Centre for Practical Ethics, Littlegate House, St Ebbes Street, Oxford OX1 1PT, UK
          </p>
    </div>
  </div>
</footer>
