<% if @title %>
  <div class="sub-header">
    <div class="container">
      <div class="row">

        <% if @subheader == 'Coaching' %>
          <%= render :partial => "/layouts/subheaders/coaching.html" %>
        <% elsif @subheader_search == true %>
          <%= render :partial => "/layouts/subheaders/search.html.erb" %>
        <% else %>
          <%= render :partial => "/layouts/subheaders/standard.html" %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
